<ion-view view-title="" hide-nav-bar="true">
    <ion-content>
       <div id="map" data-tap-disabled="true"></div>
       <a menu-toggle="left" class="menuButton button-icon icon ion-navicon"></a>
       <a ng-click="filterBar()" class="filterButton ion-ios-settings-strong"></a>
       <a ng-click="findMe()" class="findButton button-icon icon ion-ios-navigate-outline t"></a>
       <a ng-click="showPubs()" class="listButton button-icon icon ion-ios-list-outline"></a>
    </ion-content>
</ion-view>
